.eventsection{
    background-color:#ebd9dd;
    padding:2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eventdetails{
    text-align: center;
    margin:1% 4%;
    color:black;
}

.eventheadingbox{
    position: relative;
    display: flex;
    justify-content: center;
    padding:1%;
}
.eventbgheading{
    position: absolute;
    font-size: 5rem;
    color:lavender;
    top: -45px;
}

.eventheading{
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    color:black;
}

.eventcontent{
    text-align:center;
}

.eventbox{
    background-color: lavender;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:2%;
    margin-left:2%;
    margin-right:2%;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4), 0 -3px 8px rgba(0, 0, 0, 0.4);
}

.eventbox .left {
    padding:2% 3%;
    flex-basis: 1;
}

.eventbox .right .eventname{
    text-align: center;
    margin-bottom: 2%;
    font-size:1.5rem;
    font-weight:500;
    text-decoration: underline;
}

.eventbox .left img{
    width:170px;
    height:170px;
    border-radius: 15px;
    margin-bottom: 3%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.eventbox .left img:hover{
    transform: scale(1.1);
}
.eventbox .right{
    padding:2% 3%;
    flex-basis: 1;
    max-width:900px;
    text-align: center;
    font-weight: 600;
    font-size:1.1rem;
}

.agendabox{
    padding:2% 5%;
    text-align: center;
}

.agenda .eventname{
    font-weight: 500;
    font-size: 1.3rem;
    padding-right:2%;
}

.panel{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.agenda .line{
    height:1px;
    width:100%;
    background-color: black;
    margin-top:3%;
}

.judgepanel{
    margin-top:3%;
}

.judges{
    display: flex;
    justify-content: space-evenly;
    margin-top:3%;
}

.judgebox{
    padding:0 1%;
}

.judgebox img{
    height:130px;
    width:130px;
    object-fit: fill;
    object-position: center;
}

.eye{
    position: relative;
}
.eyeopen{
    position: absolute;
    top:0;
    transition: transform 0.7s ease;
}

.eyeopen:hover{
    transform: scale(1.2);
}

@media only screen and (max-width:620px){

    .eventbox{
        flex-direction: column;
    }

    .alternateeventbox{
        flex-direction: column-reverse;
    }

    .judges{
        display: grid;
        grid-template-columns: auto auto;
    }

    .judgebox{
        margin-top:20%;
    }
    .judgebox img{
        height:120px;
        width:120px;
    }
    .agendabox{
        padding:2% 8%;
    }

    .agenda .eventname{
        padding-right: 3%;
    }

    .eventbgheading{
        position: absolute;
        font-size: 4rem;
        top: -30px;
    }
}



@media only screen and (max-width:470px){
    .eventbox .right .eventname{
        font-size: 1.1rem;
    }

    .eventbox{
        margin:5%
    }
    .eventbox .right{
        font-size: 0.8rem;
        text-align: justify;
    }
    .eventdetails{
        font-size: 0.8rem;
        text-align: justify;
    }

    .eventbox .left img{
        width:110px;
        height:110px;
        margin: 1%;
    }
    .agenda .eventname{
        padding-right: 5%;
    }
}