*{
    margin: 0;
    bottom: 0;
}

.competitionbox {
    background-color: whitesmoke;
    padding-top: 3%;
}

.competitiondiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingbox{
    position: relative;
}

.competitiondiv .bgheading{
    position: absolute;
    top: -50px;
    left: -95px;
    font-size: 5rem;
    color:rgb(209, 209, 245);
    z-index: auto;
}

.competitiondiv .heading {
    font-size: 3rem;
    font-weight: 600;
    color: #1E90FF;
    z-index: 1;
    position: relative;
}

.cunderline {
    width: 375px;
    height: 2px;
    background-color: rgb(213, 213, 247);
    margin-bottom: 2%;
}

.competitiondiv h3 {
    max-width: 50%;
    text-align: center;
    font-weight: 400;
}

.competitions {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.contentbox img {
    height: 190px;
    width: 210px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.competitionscontent:hover{
    background-color: #1E90FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contentbox {
    margin: 7% auto;
    background-color: lavender;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.contentbox ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top:1%;
}

.contentbox div {
    text-align: center;
    color: rgb(45, 45, 45);
}

.contentbox ul li {
    padding: 7px 5px;
    font-size: 1.3rem;
}

.contentbox ul li:hover {
    font-size: 1.5rem;
    padding: 3px 3px;
}

.contentbox .competitionname {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

.parentcompetitionabout{
    display: flex;
    justify-content: center;
}

.competitions .competitionabout {
    font-size: 1rem;
    font-weight: 500;
    max-width: 150px;
    text-align: center;
}

@media only screen and (max-width:1240px) {
    .competitions {
        grid-template-columns: auto auto auto ;
    }
}

@media only screen and (max-width:820px) {
    .competitions {
        grid-template-columns: auto auto;
    }
    .competitiondiv h3 {
        max-width: 75%;
    }

    .competitiondiv .heading{
        font-size: 2.5rem;
    }

    .competitiondiv .bgheading{
        font-size: 3rem;
        top: -25px;
        left: -25px;
    }
    .cunderline{
        width: 275px;
    }
}
@media only screen and (max-width:460px) {
    .competitions {
        grid-template-columns:auto auto;
    }
    .competitiondiv h3 {
        max-width: 80%;
    }

    .competitiondiv .heading{
        font-size: 2.2rem;
    }

    .competitiondiv .bgheading{
        font-size: 2.7rem;
        top: -25px;
        left: -25px;
    }

    .contentbox img {
        height: 130px;
        width: 150px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .contentbox .competitionname{
        font-size: 1.1rem;
    }
}






