.headingbox{
    position: relative;
    padding:2%;
}

.headingbox .headingc {
    font-size: 3rem;
    font-weight: 600;
    color: #FFC72C;
    z-index: 1;
    position: relative;
    text-align: center;
}

.competitions{
    display:grid;
    grid-template-columns: auto auto auto;
}

.name img{
    width:35%;
    margin-left:25%;
    margin-bottom: 1%;
    transition: transform 0.3s ease-in-out;
}
.name img:hover{
    transform: scale(1.1);
}

.name h4{
    font-size: 1.2rem;
    max-width: 80%;
    text-align: center;
    margin-left:5%;
}

.applynow{
    width: fit-content;
    background-color: #FFC72C;
    margin:3% auto;
    padding:0.5% 1%;
    cursor: pointer;
    border-radius: 10%;
    transition: background-color 0.5s ease-in-out;
}

.event9{
    margin-top:15%;
}

.applynow:hover{
    background-color: red;
}

.applynow a{
    text-decoration: none;
    color:black;
    font-weight: 500;
}

@media only screen and (max-width:820px){
    .event9{
        margin-top:28%;
        transform: scale(1.7);
        padding:0 15%;
    }
}

@media only screen and (max-width:630px){
    .competitions{
        grid-template-columns: auto auto;
    }
    .headingc{
        padding:5% 0;
    }

    .event9{
        display: none;
    }
}
@media only screen and (max-width:420px){
    .headingbox .headingc {
        font-size: 2rem;
    }
    .name h4{
        font-size: 1rem;
    }
}
