@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@500&family=Rubik:wght@300;400;700&family=Ysabeau+SC:wght@300&display=swap');

.joustsectionbg{
    background-color:#080217;
    display: flex;
}

.facts{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    padding-top:6%;
    padding-left:6%;
    padding-right: 4%;
}

.factbox{
    margin-bottom: 20%;
}

.fact{
    font-size: 2.5rem;
}

.facts .spanf{
    color:#FFC72C;
}

.joustsection{
    background-color: #080217;
    padding:4%;
    font-family: 'Poppins', sans-serif;
}

.joustbox{
    display: flex;
    justify-content: center;
    position:relative;
}

.joust-logo{
    width:35%;
    margin:0 34%;
}

.bgjoust{
    font-size: 4rem;
    color:white;
}

.joust{
    position: relative;
    z-index: 1;
    font-size:3rem;
    color:#FFC72C;
    text-align: center;
    font-weight: 500;
}

.joustcontent{
    text-align: justify;
    margin:2%;
    color:white;
    font-size:1.2rem;
    line-height: 30px;
}

@media only screen and (max-width:820px){
    .bgjoust{
        font-size: 3.7rem;
    }
    .joust{
        font-size: 2.5rem;
    }
    .joustsectionbg{
        flex-direction: column;
    }
    .factbox{
        margin-bottom: 5%;
    }
}

@media only screen and (max-width:630px){
    .bgjoust{
        font-size: 2.7rem;
    }
    .joust{
        font-size: 1.9rem;
    }
    .joustcontent{
        font-size:1rem;
        margin:5%;
        line-height: 25px;
    }
    .joustsection{
        padding:6% 3%;
    }
}

@media only screen and (max-width:420px){
    .bgjoust{
        font-size: 2.2rem;
    }
    .joust{
        font-size: 1.5rem;
    }
    .joustsection{
        padding:6% 0%;
    }
    .joustcontent{
        font-size:0.9rem;
        margin:7%;
        line-height: 22px;
    }
}
