.greetingbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #080217;
    padding:5% 0;
}

.greetingheadingbox{
    position: relative;
}

.greetingbgheading{
    position: absolute;
    top: -50px;
    left: -85px;
    font-size: 5rem;
    color:rgb(209, 209, 245);
    z-index: auto;
}

.greetingheading {
    font-size: 3rem;
    font-weight: 600;
    color: #FFC72C;
    z-index: 1;
    position: relative;
}

.greetincontent{
    color:white;
    max-width:80%;
    margin:auto;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 30px;
    margin-top:2%;
}

@media only screen and (max-width:820px){
    .greetingbgheading{
        font-size: 3.5rem;
        top: -75%;
        left: -30%;
    }

    .greetingheading{
        font-size: 2rem;
    }

    .greetingbox{
        padding: 7% 0;
    }
}

@media only screen and (max-width:460px){
    .greetingbgheading {
        font-size: 2.7rem;
        top: -55%;
        left: -15%;
    }

    .greetincontent{
        font-size: 1rem;
    }
}
