.contactsection {
  background-color:#e1dfba;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4% 0 0 0;
}

.contactsection .leftcontent {
  color: black;
  font-size: 2rem;
  letter-spacing: 1px;
  max-width: 80%;
  text-align: center;
  font-weight: 600;
  position: relative;
  text-shadow: 2px 2px 4px whitesmoke;
}

.SubscribeDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4% 0;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.contactsection .rightcontent {
  margin-top: 15px;
  background-color: white;
  padding: 0.5%;
  border-radius: 10px;
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.4), -2px -4px 9px rgba(0, 0, 0, 0.4);

  .emailinput {
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    width: 70%;
  }

  #submit {
    background-color: #6f57ff;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 5px;
    color: white;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 10px;
  }
}

.contactsection .rightcontent #submit:hover {
  background-color: #FFC72C;
  color:black;
}


@media only screen and (max-width: 950px) {
  .SubscribeDiv {
    background-color: #516091;
    width: 100vw;
  }

  .contactsection {
    flex-direction: column;
  }

  .contactsection .leftcontent {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  }

  .contactsection .rightcontent {
    width: 47%;

    #submit {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 750px) {
  .contactsection .leftcontent {
    font-size: 1.3rem;
    /* width:50%; */
  }

  .contactsection .rightcontent {
    margin-top: 2%;
    width: 70%;

    #submit {
      font-size: 1rem;
    }
  }

  .emailinput {
    border-radius: 4px;
  }
}

@media only screen and (max-width: 520px) {
  .contactsection .leftcontent {
    font-size: 1.1rem;
    /* width:60%; */
  }

  .contactsection .rightcontent {
    width: 90%;
  }
}