.memberbox {
    background-color: #516091;
    /* background-color: #6f57ff; */
    padding: 1% 0;
}

.memberdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memberdiv h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #d60e33;
}

.underline {
    width: 375px;
    height: 2px;
    background-color:white;
    margin-bottom: 2%;
}

.memberdiv h3 {
    max-width: 70%;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    color:white;
}

.members {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 3%;
}


.profile img {
    height: 120px;
    width: 120px;
    margin: 5% 17%;
    transition: transform 0.3s ease-in-out;
}

.profile img:hover{
    transform: scale(1.05);
}

.profile {
    height: 240px;
    width: 200px;
    margin: 10% auto;
    background-color: lavender;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.profile ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top:1%;
    padding-right:1.5rem;
    margin-bottom: 0;
}

.profile div {
    text-align: center;
    color: rgb(45, 45, 45);
}

.profile ul li {
    padding: 0px 5px;
    font-size: 1.3rem;
}

.profile ul li:hover {
    font-size: 1.6rem;
    padding: 0px 3px;
}

.profile .name {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

.profile .role {
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width:720px) {
    .memberdiv h3 {
        max-width: 80%;
    }
    .members {
        grid-template-columns: auto auto;
    }
}


@media only screen and (max-width:540px) {
    .memberdiv h1 {
        font-size: 1.6rem;
    }
    .memberdiv h3 {
        max-width: 90%;
        font-size: 1rem;
    }

    .members{
        margin-bottom: 10%;
    }

    .profile img {
        height: 80px;
        width: 80px;
        margin: 4% 18%;
    }

    .profile .name{
        font-size: 1rem;
        padding:3% 1%;
    }
    .profile .role{
        font-size: 0.9rem;
    }
    
    .profile {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        width:75%;
        height:85%;
        margin:3% auto;
    }
    .profileimgbox{
        flex-basis: 50%;
    }
    .profilecontentbox{
        flex-basis: 70%;
    }
    .members {
        grid-template-columns: auto;
    }
    .underline {
        width: 305px;
    }

    .underline {
        width: 205px;
    }
}



